.project {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
.projectContent {
    background-color: #00000055;
    border-radius: 10px;
    padding: 30px 20px;
    display: grid;
    grid-template-rows: 20% 2fr 0.5fr 0.5fr;
}
